<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="VirtoCommerce" connectionString="Server=tcp:nitpvpk141.database.windows.net,1433;Database=kadobon.ecommerce.development;User ID=kadobon-sa@nitpvpk141;Password=kdb2015#@!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <!-- Elastic Search -->
  <add name="SearchConnectionString" connectionString="server=http://kadobon-dev-search.cloudapp.net:9200;scope=default" />
  
  <!-- Azure Search -->
  <!--
  <add name="SearchConnectionString" connectionString="server=virtocommerce;scope=default;key=key;provider=azuresearch" />
  -->
  
  <!-- LUCENE -->
  <!--
  <add name="SearchConnectionString" connectionString="server=~/app_data/virto/search;scope=default;provider=lucene" />
  -->

  <!-- Local Storage Provider -->
  <add name="DataConnectionString" connectionString="~/App_Data/Virto/Storage" providerName="VirtoCommerce.Foundation.Data.Asset.FileSystemBlobAssetRepository" />

  <!-- Azure Storage Provider -->
  <!--
  <add name="DataConnectionString" connectionString="ENTER URL HERE" providerName="VirtoCommerce.Foundation.Data.Azure.Asset.AzureBlobAssetRepository" />
  -->
</connectionStrings>